* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --br-lg: 10px;
  --br-md: 5px;
  --br-full: 50%;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
#leva__root {
  display: none;
}
input,
lable {
  display: block;
}
h1 {
  color: white;
}
main#UI {
  --window-pd: 50px;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: calc(100% - var(--window-pd));
  width: calc(100% - var(--window-pd));
}
.menu__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: var(--br-md);
  transition: all 200ms;
  padding: 10px;
  height: 100%;
}
.menu__item .menu__item.fold-half {
  width: 200px;
}
.menu__item.fold-slide {
  width: 400px;
}
.modal {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.modal__content {
  width: 400px;
  height: 600px;
  background-color: whitesmoke;
  border-radius: var(--br-lg);
  padding: 20px;
}
.menu__item--content {
  background-color: aqua;
  height: 100%;
  .menu__item--content--title {
    color: black;
    font-weight: bold;
  }
}
.menu__item[toggled="true"].collapse-x {
  width: 50px;
  .menu__item--title {
    color: transparent;
  }
}
.menu__item[toggled="true"].collapse-y {
  height: 50px;
  .menu__item--content {
    opacity: 0;
    height: 0;
  }
}
.profile {
  display: flex;
  gap: 5px;
  align-items: center;
}
.pfp {
  height: 30px;
  width: 30px;
  border-radius: var(--br-full);
  background-color: aqua;
}
